*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Segoe UI', sans-serif;
    background-color: black;
    color: white;
    line-height: 1.6;
}
a {
    color: #9d00ff;
    text-decoration: none;
}
.container {
    width: 90%;
    max-width: 1000px;
    margin: auto;
    padding: 2rem 0;
}

/*HEADER*/
header {
    background-color: #111;
    padding: 1rem 0;
    border-bottom: 1px solid #333;
}
.logo {
    font-size: 1.5rem;
    color: #fff;
}
nav ul {
    display: flex;
    gap: 1.5rem;
    list-style: none;
}
nav ul li a {
    color: #ccc;
    transition: color 0.3s;
}
nav ul li a:hover {
    color: #fff;
    text-shadow: 0 0 5px #9d00ff;
}
header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.fotoku {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #0015ff;
}

/*HERO*/
.hero {
    background: linear-gradient(145deg, #0a0a0a, #09122c);
    text-align: center;
    padding: 6rem 0;
}
.hero h2 {
    font-size: 2.5rem;
}
.hero span {
    color: #579dff;
}

/*ABOUT*/
.about, .contact {
    padding: 4rem 0;
}
.about h2, .projects h2, .contact h2 {
    margin-bottom: 1rem;
}

/*PROJECTS*/
.projects .project-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1.5rem;
}
.project-card {
    background-color: #1c1c1c;
    padding: 2rem;
    border: 1px solid #333;
    text-align: center;
    transition: transform 0.3s;
}
.project-card:hover {
    transform: translateY(-10px);
}

.projectimg {
    width: 100%;
    max-width: 300px;
    height: auto;   
}

/*CONTACT*/
.contact a {
    color: #9d00ff;
}

/*FOOTER*/
footer {
    text-align: center;
    padding: 2rem;
    background-color: #111;
    border-top: 1px solid #333;
    font-size: 0.9rem;
}

/*RESPONSIVE*/
@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
        align-items: flex-start;
    }
}